.blog {

    // .blog__inner

    &__inner {
        @include section-inner;
    }

    // .blog__heading

    &__heading {
        margin-bottom: 60px;
        @media (max-width: 1326px) {
            margin-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1326 - 320)));
        }
    }

    // .blog__items

    &__items {
        border: 1px solid $sub-primary;
        border-radius: 20px; 
        @include display-flex;
        padding: 50px 60px;
        margin-bottom: 45px;
        @media (max-width: 1326px) {
            margin-bottom: calc(20px + (45 - 20) * ((100vw - 320px) / (1326 - 320)));
        }
        @media (max-width: 992px) {
            flex-direction: column;
            padding: 40px 50px;
        }
        @media (max-width: 768px) {
            padding: 30px 40px;
        }
        @media (max-width: 468px) {
            padding: 20px 30px;
        }
    }

    // .blog__item

    &__item {
        flex: 0 0 48%;
        img {
            border-radius: 10px;
            vertical-align: middle;
        }
        @media (max-width: 992px) {
            & + & {
                margin-top: 30px;
            }
        }
    }

    // .blog__item-date

    &__item-date {
        margin-bottom: 30px;
        @media (max-width: 1326px) {
            margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1326 - 320)));
        }
    }

    // .blog__item-title

    &__item-title {
        @include font-el-messiri;
        margin-bottom: 20px;
        @media (max-width: 1326px) {
            font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1326 - 320)));
        }
    }

    // .blog__item-text

    &__item-text {
        @include font-montserrat;
        font-weight: 300;
        text-align: justify;
        & + &{
            margin-top: 10px;
        }
    }

    // .blog__item-link

    &__item-link {
        margin-top: 40px;
        @media (max-width: 1326px) {
            margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (1326 - 320)));
        }
        @include font-montserrat;
        font-weight: 700;
        font-size: 14px;
        display: inline-block;
        padding: 10px 20px;
        background-color: $sub-primary;
        border-radius: 5px;
        transition: .3s;
        &:hover {
            background-color: #fff;
            color: $sub-primary;
        }
    }
}
