.news {
   
    // .news__inner

    &__inner {
        @include section-inner;
    }

    // .news__previews

    &__previews {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 476px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .news__preview

    &__preview {
        background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5));
        border-radius: 10px;
        position: relative;
        transition: .3s;
        &:hover {
            box-shadow: 0 0 10px 4px $sub-primary;
            .news__preview-title::after {
                width: 100%;
            }
        }
    }

    // .news__preview-link

    &__preview-link {
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5));
            width: 100%;
            height: 100%;
            border-radius: 10px;
            z-index: 1;
        }
    }

    // .news__preview-img

    &__preview-img {
        vertical-align: middle;
        border-radius: 10px;
    }

    // .news__preview-title

    &__preview-title {
        @include font-el-messiri;
        @include adaptiv-font(21, 16);
        position: absolute;
        left: 35px;
        bottom: 30px;
        max-width: 320px;
        margin: 0 auto;
        z-index: 2;
        &::after {
            content: '';
            @include position(absolute, 2, null, 0, null, -3px);
            @include sizeWidthHeigth(0, 1px);
            background-color: white;
            transition: .3s;
        }
        &:hover::after {
            width: 100%;
        }
        @media (max-width: 1326px) {
            bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1326 - 320)));
            left: calc(15px + (35 - 15) * ((100vw - 320px) / (1326 - 320)));
        }

    }

    // .news__preview-date

    &__preview-date {
        
        position: absolute;
        top: 30px;
        left: 35px;
        z-index: 2;
        @media (max-width: 1326px) {
            top: calc(15px + (30 - 15) * ((100vw - 320px) / (1326 - 320)));
            left: calc(20px + (35 - 20) * ((100vw - 320px) / (1326 - 320)));
        }
    }
}
