

@media (max-width:767.98px) {
    .header-btn {
        margin-right: 100px;
    }
}

@media (max-width:374.98px) {
    .header-btn {
        margin-right: 80px;
    }
}

@media (max-width:335px) {
    .header-btn {
        margin-right: 70px;
        padding: 9px 5px;
    }
}