.menu {
    max-width: 655px;
    width: 100%;
    @include display-flex;
    margin: 0 10px;
    
    // .menu__link

    &__link {
        font-size: 14px;
        position: relative;
        transition: .3s;
        &:hover {
            transition: .3s;
            transform: scale(1.1);
        }
    }
    
    &__link::after {
        content: '';
        position: absolute;
        display: block;
        background: none repeat scroll 0 0 transparent;
        height: 2px;
        width: 0;
        background: #fff;
        transition: width .3s ease 0s, left .3s ease 0s;
        // &.menu__link--active::after{
        //     width: 100%;
        // }
    }

    &__link--active::after {
        width: 100%;
    }

    &__link:hover::after {
        width: 100%
    }

}

.menu-burger {
    @include position(absolute, 100, null, null, 15px, null);
    @include sizeWidthHeigth(50px, 50px);
    transition: all 0.5s;
    overflow: hidden;
    cursor: pointer;
    display: none;

    & span {
        @include sizeWidthHeigth(30px, 4px);
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 15px);
        border-radius: 2px;
        background-color: #fff;
        transition: 0.5s;
    }
    &::after, 
    &::before {
        content: '';
        position: absolute;
        @include sizeWidthHeigth(15px, 4px);
        border-radius: 2px;
        background-color: #fff;
        transition: 0.5s;
    }
    
    &::before {
        left: calc(50% - 15px);
        top: 9px;
    } 
    &::after {
        right: calc(50% - 15px);
        bottom: 9px;
        
    }
    &.active {
        span {
            transform: rotate(135deg);
            z-index: 1;
            left: calc(50% - 16px);
        }
        &::before {
            transform: rotate(225deg);
            top: 17px;
            left: calc(50% - 14px);
            border-radius: 0px 2px 2px 0px;
            z-index: -0;
        } 
        &::after {
            transform: rotate(225deg);
            bottom: 17px;
            border-radius: 2px 0 0 2px;
            right: calc(50% - 13px);
            z-index: -0;
        }
    }

}

@media (max-width: 768px) {
    .menu-burger {
        display: block;
    }
    .menu {
        position: absolute;
        right: -100%;
        @include display-flex;
        flex-direction: column;
        background-color: rgba(30, 90, 114);
        @include sizeWidthHeigth(250px, 100vh);
        padding: 100px 20px;
        &.active {
            @include position(fixed, 99, 0, null, -15px, null);
            transition: .3s;
            box-shadow:  -10px 0 5px -4px rgba(0, 0, 0, .5);
            @media (max-width: 378px) {
                width: 100%;
                margin: 0 auto;
                right: 0px;
                margin-left: 0;
            }
            .menu__link {
                transform: translateX(250%);
                transition: .3s;
                font-size: 16px;
                width: 120px;
                text-align: center;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    background: none repeat scroll 0 0 transparent;
                    height: 2px;
                    width: 0;
                    background: #fff;
                    transition: width .3s ease 0s, left .3s ease 0s;
                    &.menu__link--active::before,
                    &.menu__link--active::after{
                        width: 100%;
                    }
                }
                &::before {
                    top: -5px;
                    right: 0%;
                }
                &::after {
                    bottom: -5px;
                    left: 0%;
                }
                &--active::before,
                &--active::after {
                    width: 100%;
                }
                &:hover::before,
                &:hover::after {
                    width: 100%
                }
            }
            .menu__link:nth-child(1) {
                animation: ani 0.5s ease forwards;
            }
            .menu__link:nth-child(2) {
                animation: ani 0.5s forwards 0.2s;
            }
            .menu__link:nth-child(3) {
                animation: ani 0.5s forwards 0.4s;
            }
            .menu__link:nth-child(4) {
                animation: ani 0.5s forwards 0.6s;
            }
            .menu__link:nth-child(5) {
                animation: ani 0.5s forwards 0.8s;
            }
            .menu__link:nth-child(6) {
                animation: ani 0.5s forwards 1s;
            }
            .menu__link:nth-child(7) {
                animation: ani 0.5s forwards 1.2s;
            }
            
            @keyframes ani {
                0% {transform: translateX(150%);}
                100% {transform: translateX(0);}
              }
            
        }
    }
}

