.modal {
    @include position(fixed, 1000);
    @include sizeWidthHeigth(100%, 100vh);
    opacity: 0;
    visibility: hidden;
    background-color: rgba(#000, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    &.modal--active {
        transition: .3s;
        visibility: visible;
        opacity: 1;
    }
    // .modal__content

    &__content {
        width: 100%;
        max-width: 400px;
        @media (max-width: 468px) {
            max-width: 290px;
            width: 100%;

        }
        padding: 0 20px;
        border-radius: 5px;
        margin: 0 auto;
        background: linear-gradient(45deg, rgba(84, 90, 191, 1) 25%, rgba(0,212,255, 1) 100%);
        position: relative;

    }

    // .modal__
    &__heading {
       margin-top: 10px;
       margin-bottom: 30px;
       color: #fff;
    }

    // .modal__form

    &__form {
        @include display-flex;
        flex-direction: column;
        padding: 0px 10px ;
        margin-bottom: 20px;
    }

    // .modal__form-input

    &__form-input {
        max-width: 100%;
        width: 100%;
        border: 1px solid $sub-primary;
        border-radius: 5px;
        padding: 10px;
        & + & {
            margin-top: 10px;
        }
    }

    // .modal__form-button

    &__form-button {
        padding: 10px;
        margin-top: 20px;
        background-color: $sub-primary;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        max-width: 50%;
        width: 100%;
        transition: 0.3s;

        &:hover {
            border: 1px solid $sub-primary;
            color: $sub-primary;
            background-color: #fff;
        }
    }

    // .modal__close-button

    &__close-button {
        @include position(absolute, null, 7px, null, 5px);
        @include sizeWidthHeigth(40px, 40px);
        cursor: pointer;
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 2px);
            left: calc(50% - 15px);
            @include sizeWidthHeigth(30px, 4px);
            border-radius: 2px;
            background-color: #333;
            
        }
        &::after {
            transform: rotate(225deg);
        }
        &::before {
            transform: rotate(135deg);
        }
    }
}

#date {
    cursor: pointer;
}