.navigation {
    position: fixed;
    left: 0;
    padding: 20px 0 20px 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 5;
    transition: all 1s ease;

    &__inner {
        margin: auto;
        max-width:1296px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &.js--navigation {
        height: auto;
        padding: 20px 0 20px 0;
        background-color: rgba(30, 90, 114, 0.7);
        box-shadow: 0 3px 5px rgba(0, 0, 0,.4);
        // rgba(17, 0, 255, 0.397)
    }
}


.logo {
    padding-left: 15px;
    img {
        vertical-align: middle;
    }
}